.bodyRegister {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../images/Register/bgregister.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
  }
  
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 80%;
    max-width: 600px;
  }
  
  .btn-rose {
    background-color: #b80860;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-repeat: no-repeat;
  }
  
  .btn-rose:hover {
    background-color: #e6006d;
  }
  



  /* Media Queries pour la réactivité */
  @media (max-width: 768px) {
    .overlay-text {
      width: 90%;
      padding: 15px;
    }
  
    .btn-rose {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .overlay-text {
      width: 95%;
      padding: 10px;
      
    }
    .overlay-text h2 {
        font-size: 20px;
    }
  
    .btn-rose {
      padding: 6px 12px;
      font-size: 12px;
    }
  }
  